.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 30px;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-65 {
    width: 65%;
}


.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.w-5 {
    width: 5%;
}

.cursor-pointer {
    cursor: pointer;
}

html,
body {
    height: 100%;
}
body {
    margin: 0px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    background-color: #ffffff;
} 

.divider {
    height: 1px;
    background-color: #cccccc;
}

.card-box-shadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 25, 0);  
    border-radius: 50%;  
    animation: blink 2s infinite;  
  }
  
   @keyframes blink {
    0% {
      opacity: 1;  
    }
    50% {
      opacity: 0;  
    }
    100% {
      opacity: 1;  
    }
  }

  .badge {
    background-color: #1a7eff;
    color: white;
    padding: 5px;
    border-radius: 5px;
  }

  input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #cbcbcb;
}